<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="cache-control" content="max-age=0" />
        <meta http-equiv="cache-control" content="no-store" />
        <meta http-equiv="expires" content="-1" />
        <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
        <meta http-equiv="pragma" content="no-cache" />
        <style type="text/css">
            body {
                background-color:#000000;
                color:#FFF;
                border:0px;
                margin:0px;
                overflow:hidden;
            }
            .wrapper {
                position:absolute;
                top:15%;
                left:0px;
                right:0px;
                width:100%;
                height:auto;
            }
            .sammy {
                float:left;
                width:100%;
                height:auto;
                text-align:center;
            }
            .message {
                float:left;
                width:100%;
                height:auto;
                font-size:36px;
                text-align:center;
                font-family:Arial,Helvetica,sans-serif;
                margin-top:25px;
            }
        </style>
    </head>
    <body>
        <div class="wrapper">
            <div class="sammy"><img src="hello-there.jpg"/></div>
            <div class="message">Hostname: {{ ansible_hostname }}</div>
        </div>
    </body>
</html>
